/* .vitepress\theme\style\link.css */
.vp-doc a[href^="https://www.youtube.com/"]:before,
[href^="https://www.bilibili.com/"]:before {
    content: '\2023';
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 10px;
    vertical-align: middle;
    position: relative;
    top: -2px;
    color: var(--vp-c-green-1);
    font-size: 30px;
    border: 2px solid var(--vp-c-green-1);
    margin-right: 4px;
    line-height: 13px;
    padding-left: 0.8px;
}