/* var.css */
:root {
    --vp-c-brand-1: #18794e;
    --vp-c-brand-2: #299764;
    --vp-c-brand-3: #30a46c;
  }
  
  .dark {
    --vp-c-brand-1: #3dd68c;
    --vp-c-brand-2: #30a46c;
    --vp-c-brand-3: #298459;
  }
  
  .vp-doc a {
      text-decoration: none;
  }
  
  h1 {
    background: -webkit-linear-gradient(-45deg, #e43498, #5ad7dd 30%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
  }
  
  .medium-zoom-overlay {
    z-index: 20;
  }
  
  .medium-zoom-image {
    z-index: 9999 !important;/* 给的值是21，但是实测盖不住，直接999 */
  }
  