/* var.css */
:root {
    --vp-c-brand-1: #18794e;
    --vp-c-brand-2: #299764;
    --vp-c-brand-3: #30a46c;
  }
  
  .dark {
    --vp-c-brand-1: #3dd68c;
    --vp-c-brand-2: #30a46c;
    --vp-c-brand-3: #298459;
  }
  
  .vp-doc a {
      text-decoration: none;
  }
  
  h1 {
    background:#e43498;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
  }
  
  .medium-zoom-overlay {
    z-index: 20;
  }
  
  .medium-zoom-image {
    z-index: 9999 !important;/* 给的值是21，但是实测盖不住，直接999 */
  }



/* 提示框背景颜色 */
:root {
  --vp-custom-block-tip-bg: var(--vp-c-green-soft);
}

/* 提示框 */
.custom-block.tip {
  border-color: var(--vp-c-green-2);
}

/* 警告框 */
.custom-block.warning {
  /* border-color: #d97706; */
  border-color: var(--vp-c-yellow-2);
}

/* 危险框 */
.custom-block.danger {
  /* border-color: #f43f5e; */
  border-color: var(--vp-c-red-2);
}


/* 引用块 */
.vp-doc blockquote {
  border-radius: 5px;
  padding: 10px 16px;
  background-color: var(--vp-badge-danger-bg);
  position: relative;
  border-left: 4px solid #e95f59;
}
 
